<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
	<title>LAYOUT</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div id="container">
		<div id="caidan">
			<div class="cd cd1"></div>
		</div>
		<div id="keyboard">
			<div id="top" class="top">
				<ul class="cand">
					<li class="icon">1</li>
					<li class="icon">2</li>
					<li class="icon">3</li>
					<li class="icon">4</li>
					<li class="icon">5</li>
					<li class="icon">6</li>
				</ul>
			</div>

			<div id="left" class="left">
				<ul class="comb">
					<li>，</li>
					<li>。</li>
					<li>？</li>
					<li>！</li>
					<li>…</li>
				</ul>
			</div>

			<div id="center" class="center">
				<ul>
					<li class="key">^_^</li>
					<li class="key">ABC</li>
					<li class="key">DEF</li>
					<li class="key">GHI</li>
					<li class="key">JKL</li>
					<li class="key">MNO</li>
					<li class="key">PQRS</li>
					<li class="key">TUV</li>
					<li class="key">WXYZ</li>
					<li class="func">符</li>
					<li class="key">空格</li>
					<li class="func">中</li>
				</ul>
			</div>

			<div id="right" class="right">
				<ul>
					<li class="func">退格</li>
					<li class="func">ab</li>
					<li class="func">123</li>
					<li class="func">回车</li>
				</ul>
			</div>

		</div>

	</div>

	<script src="js/common.js"></script>
	<script>
		//页面加载完成时执行
		window.onload = function() {
			zoomBody(720);
		};

	</script>
</body>

</html>
