body {
    font-family: serif, sans-serif;
    overflow-x: hidden;
}

#item {
    padding-top: 55px;
    background-color: #fff;
    padding-bottom: 60px;
}

a,
a:link {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.split {
    height: 10px;
    background-color: #efeff0;
}

.nomore {
    font-size: 12px;
    color: #999;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #efeff0;
}

.none {
    display: none;
}

.center {
    text-align: center;
}


/*BANNER*/

#banner {
    width: 100%;
    cursor: pointer;
}

#banner img {
    width: 100%;
}


/*皮肤列表*/

.skinlist {
    padding-top: 9px;
    padding-left: 9px;
    padding-right: 9px;
}

.col-xs-4,
.col-xs-6 {
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
}

.row-title {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.row-title span {
    display: inline-block;
    width: 5px;
    height: 10px;
    border-left-width: 2px;
    border-left-style: solid;
}

.vline-blue {
    border-left-color: #54e5d6;
}

.vline-green {
    border-left-color: #b1d835;
}

.vline-red {
    border-left-color: #f59074;
}

.thumbnail {
    border: none;
    padding: 0px;
    margin-bottom: 9px;
}

.thumbnail .caption {
    padding: 2px;
}

.thumbnail .skin-preview {
    border-radius: 5px;
    width: 100%;
}

.thumbnail .skin-name {
    color: #343434;
    font-size: 12px;
    text-align: center;
}


/*皮肤详情*/

#item .navbar-fixed-top {
    background-color: #f7f7f7;
    font-size: 16px;
    padding: 12px 0px;
}

#item .navbar-fixed-bottom {
    background-color: rgba(247, 247, 247, 0.9);
}

#item .skin-name {
    color: #181818;
    text-align: center;
}

#item .skin-sas {
    text-align: center;
}

#item .skin-details-preview img {
    width: 100%;
}

#item .back,
#item .share,
#item .like {
    color: #656970;
    font-size: 10px;
    position: absolute;
    border: 1px solid #abacb0;
    text-align: center;
    border-radius: 300px;
}

#item .back {
    width: 30px;
    height: 30px;
    line-height: 29px;
    float: left;
    margin-top: -3px;
    left: 10px;
    font-size: 20px;
}

#item .share {
    width: 33px;
    height: 33px;
    line-height: 32px;
    float: left;
    left: 15px;
}

#item .like {
    width: 33px;
    height: 33px;
    line-height: 32px;
    right: 15px;
}

.navbar-fixed-bottom {
    padding: 15px 0px;
    border-top: 1pt solid #eeeeee;
}

#item .skin-download {
    width: 60%;
    border-radius: 100px;
}
