body {
	font-family: serif, sans-serif;
	background-color: #efeff0;
	overflow-x: hidden;
	min-height: 2196px;
}

a,
a:link {
	text-decoration: none;
}

.container {
	background-color: #fff;
}

.split {
	height: 10px;
	background-color: #efeff0;
}


/*BANNER*/

#banner {
	width: 100%;
}

#banner img {
	width: 100%;
}


/*皮肤列表*/

.skinlist {
	padding-top: 9px;
	padding-left: 9px;
	padding-right: 9px;
}

.col-xs-4 {
	padding-left: 4px;
	padding-right: 4px;
	cursor: pointer;
}

.row-title {
	margin-top: 4px;
	margin-bottom: 4px;
}

.row-title span {
	margin-right: 2px;
	color: #ccc;
}

.thumbnail {
	border: none;
	padding: 0px;
	margin-bottom: 9px;
}

.thumbnail .caption {
	padding: 2px;
}

.thumbnail .skin-preview {
	border-radius: 5px;
}

.thumbnail .skin-name {
	color: #343434;
	font-size: 14px;
}
